In [1]:
# import env
# # Make HTTP requests
# import requests
# # Scrape data from an HTML document
# from bs4 import BeautifulSoup
# I/O
#import os
# Search and manipulate strings
import re
#import lyricsgenius
import pandas as pd
import nltk
import draft_prepare as prep
import draft_model as model
import contractions
from collections import Counter

In [2]:
# used to download lexicon data
# nltk.download('vader_lexicon')

In [3]:
# playing with genius API

# genius = lyricsgenius.Genius(env.token)

# artist = genius.search_artist("Andy Shauf", max_songs=3, sort="title")
# print(artist.songs)
# song = artist.songs[0]
# print(song.lyrics)
# df = pd.read_csv("charts.csv")
# df.head()
# df.shape
# #convert date to datetime
# df['date'] = pd.to_datetime(df['date'])
# df.head()
# first_date = pd.DataFrame(df.groupby(['artist', 'song']).date.min())
# # add a column for year and decade
# first_date['year'] = first_date.date.dt.year
# first_date['decade'] = first_date.date.dt.year - (first_date.date.dt.year % 10)
# first_date.reset_index(inplace=True)
# first_date.head()
# first_date.shape

In [4]:
# def prep_data(df):
#     '''
#     get unique artist song combos
#     make column for year and decade
#     change song to title
#     '''
#     # convert date to datetime
#     df['date'] = pd.to_datetime(df['date'])
#     # rename song column to title
#     df.rename(columns={'song': 'title'}, inplace=True)
#     # subset data to make only unique artist title combos while keeping earliest date
#     df = pd.DataFrame(df.groupby(['artist', 'title']).date.min())
#     # make new column for year and decade
#     df['year'] = df.date.dt.year
#     df['decade'] = df.date.dt.year - (df.date.dt.year % 10)
#     # reset index
#     df.reset_index(inplace=True)
#     return df
# df = prep_data(pd.read_csv("charts.csv"))
# df.head()
# df.shape

In [5]:
# This was used to get initial data


# api = lyricsgenius.Genius(env.token, verbose=False)

# def prep_songs():
#     songs = pd.read_csv('charts.csv')
#     songs['date'] = pd.to_datetime(songs.date)
#     songs = songs.rename(columns={'song': 'title'})
#     songs = pd.DataFrame(songs.groupby(['title', 'artist']).min().date).reset_index()
#     return songs

# def get_lyrics(title, artist):
#     song = api.search_song(title, artist)
#     lyrics = song.lyrics.replace('\n', ' ')
#     # TODO handle verse and chorus tags
#     return lyrics

# songs = prep_songs()

# for i in range(len(songs)-1, 0 , -1):
    
#     title = songs.iloc[[i]].title.values[0]
#     artist = songs.iloc[[i]].artist.values[0]
    
#     try:
#         songs.loc[i, 'lyrics'] = get_lyrics(title, artist)
#         songs.loc[i, 'status'] = 'lyrics acquired'
#     except: 
#         songs.loc[i, 'status'] = 'an error ocurred'
#     # save every 100 songs
#     if i % 100 == 0:
#         songs.to_csv('songs.csv')
    
#     print(f'{round((i / len(songs) * 100), 2)}%\t complete', end='\r')
#songs.to_csv('songs.csv')

# Prep data

In [6]:
songs = pd.read_csv('songs_0526.csv', index_col=0)
#songs.reset_index(drop = True, inplace=True)
#songs.drop(columns=['Unnamed: 0'], inplace=True)
songs.head()

,title,artist,date,lyrics
2,#1,Nelly,2001-10-20,#1 LyricsUh uh uh I just gotta bring it to the...
4,#9 Dream,John Lennon,1974-12-21,#9 Dream Lyrics[Verse 1] So long ago Was it in...
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,..."
6,#SELFIE,The Chainsmokers,2014-03-15,#SELFIE Lyrics[Verse 1] When Jason was at the ...
7,#thatPOWER,will.i.am Featuring Justin Bieber,2013-04-06,#thatPOWER Lyrics[Instrumental break] [Pre-Ch...

In [7]:
songs.isnull().sum()

title     0
artist    0
date      0
lyrics    0
dtype: int64

In [8]:
(
songs.shape[0],
#how many lyrics contain 'Lyrics'
songs.lyrics.str.contains('Lyrics').sum(),
# how many lyrics contain 'Embed'
songs.lyrics.str.contains('Embed').sum()
)

(23762, 23762, 23762)

In [9]:
# test contractions package
contractions.fix('I\'m')

'I am'

In [10]:
songs = pd.read_csv('songs_0526.csv', index_col=0)
songs.lyrics[2] # look at raw lyrics

'#1 LyricsUh uh uh I just gotta bring it to they attention dirty, that\'s all..  You better watch who you talkin bout; runnin your mouth, like you know me You gon\' fuck around and show why the "Show Me" get called the "Show Me" Why one-on-one you can\'t hold me if your last name was Hanes Only way you wear me out is stitch my name on your pants No resident of France; but you swear I\'m from Paris Hundred-six karats - total? Naw that\'s per wrist Trying to compurr this - my chain to yo\' chain I\'m like Sprint or Motorola - no service, out of your range You out of your brains, thinkin I\'mma shout out your name You gotta come up with better ways than that to catch your fame All that pressure you applyin it\'s time to ease off Before I hit you from the blindside takin your sleeves off As much as we\'s floss, still hard to please boss Don\'t be lyin bitchin and cryin - suck it up as a loss Cause your, acts is wack, your whole label is wack And matter fact, eh eh-eh eh a-hold that [Hook] I.. am..  #1 - no matter if you like it Here take it sit down & write it I.. am.. number one Hey hey hey hey hey hey - now let me ask you man What does it take to be #1? 2 is not a winner and three nobody remembers (hey) What does it take to be #1? Hey hey hey hey..  Do you like it when I shake it for ya, daddy? Move it all around? Let you get a peep before it touches the ground?  Hell yeah ma I love a girl that\'s willin to learn Willin to get in the driver\'s seat and willin to turn And not concerned about that he say, she say, did he say What I think he said? Squash that, he probably got that off eBay Or some, Internet access some, website chat line Mad cause I got mine, don\'t wind up on the flat line Ohh if my uncle could see me now If he could see how many rappers wanna be me now Straight emulatin my style right to the "down down" Can\'t leave out the store now better wait \'til they calm down I got hella shorties, comin askin, "Yo where the party?" Ohh lordy - will I continue to act naughty? Mixing Cris\' and Bacardi, got me thinkin fo\' sho\' I\'m not a man of many words but there\'s one thing I know - Pimp [Hook] I.. am.. number one - no matter if you like it Here take it sit down and write it Hey I.. am.. number one Hey hey hey hey hey hey hey hey Tell me now Dirty What does it take to be number one? Two is not a winner and three nobody remembers (tell me) What does it take to be number one? Hey hey hey hey hey hey hey hey  Check it, uhh, check, yo Aiyyo I\'m tired of people judgin what\'s real Hip-Hop Half the time you be them niggas who fuckin album flop YOU KNOW! Boat done sank and it ain\'t left the dock C\'MON! Mad cause I\'m hot; HE JUST - mad cause he not You ain\'t gotta gimme my props, just gimme the yachts Gimme my rocks, and keep my fans comin in flocks \'Til you top the Superbowl, keep your mouth on lock Shhhhh.. {*crickets*} I\'m awake, ha ha ha! I\'m cocky on the mic but I\'m humble in real life Taking nothin for granted blessin e\'rything on my life Trying to see a new light at the top of the roof Baby name not Sigel but I speak The Truth I heat the booth - Nelly actin so uncouth Top down shirt off in the coupe, spreadin the loot With my family and friends, and my closest of kin And I\'ll do it again if it means I\'mma win [Hook] Hey Dirty I.. am.. number one - no matter if you like it Here take it sit down and write it I..I..I am.. number one Two is not a winner and three nobody remembers Number one Cause two is not a winner and three nobody remembers5Embed'

In [11]:
# testing for def model_clean in prepare.py

# # remove everything before and including 'lyrics'
# songs.lyrics = songs.lyrics.apply(lambda x: x.split('Lyrics')[1])
# # remove everything after and including 'Embed'
# songs.lyrics = songs.lyrics.apply(lambda x: x.rsplit('Embed')[0])
# # remove everything contained in []
# songs.lyrics = songs.lyrics.apply(lambda x: re.sub(r'\[.*?\]', '', x))
# # remove everything contained in ()
# songs.lyrics = songs.lyrics.apply(lambda x: re.sub(r'\(.*?\)', '', x))
# # expand contractions
# songs.lyrics = songs.lyrics.apply(lambda x: contractions.fix(x))

# # convert date to datetime
# songs['date'] = pd.to_datetime(songs['date'])
# # make new column for decade
# songs['decade'] = songs.date.dt.year - (songs.date.dt.year % 10)

# # songs = songs[(songs.decade != 1950) & (songs.decade != 2020)]
# songs['clean_lyrics'] = songs.lyrics.apply(prep.basic_clean)
# songs['lemmatized'] = songs.clean_lyrics.apply(prep.lemmatize)

In [12]:
songs = prep.model_clean(songs)
songs.head()

,title,artist,date,lyrics,decade
2,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,2000
4,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,1970
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,2010
6,#SELFIE,The Chainsmokers,2014-03-15,jason table kept seeing look girl think make j...,2010
7,#thatPOWER,will.i.am Featuring Justin Bieber,2013-04-06,oh alive alive alive oh fly fly fly oh alive a...,2010

In [13]:
songs.lyrics[2]

'uh uh uh got bring attention dirty better watch talkin bout runnin mouth like know gon fuck around show show get called show oneonone cannot hold last name hanes way wear stitch name pant resident france swear paris hundredsix karat total naw per wrist trying compurr chain yo chain like sprint motorola service range brain thinkin imma shout name got come better way catch fame pressure applyin time ease hit blindside takin sleeve much wes floss still hard please bos lyin bitchin cryin suck loss act wack whole label wack matter fact eh eheh eh ahold matter like take sit write number one hey hey hey hey hey hey let ask man take winner three nobody remembers take hey hey hey hey like shake ya daddy move around let get peep touch ground hell yeah love girl willin learn willin get driver seat willin turn concerned say say say think said squash probably got ebay internet access website chat line mad got mine wind flat line ohh uncle could see could see many rapper want straight emulatin style right cannot leave store better wait til calm got hella shorties comin askin yo party ohh lordy continue act naughty mixing cris bacardi got thinkin fo sho man many word one thing know pimp number one matter like take sit write hey number one hey hey hey hey hey hey hey hey tell dirty take number one two winner three nobody remembers take number one hey hey hey hey hey hey hey hey check uhh check yo aiyyo tired people judgin real hiphop half time nigga fuckin album flop know boat done sank left dock cmon mad hot mad got give prop give yacht give rock keep fan comin flock til top superbowl keep mouth lock shhhhh cricket awake ha ha ha cocky mic humble real life taking nothin granted blessin erything life trying see new light top roof baby name sigel speak truth heat booth nelly actin uncouth top shirt coupe spreadin loot family friend closest kin mean imma win hey dirty number one matter like take sit write iii number one two winner three nobody remembers number one two winner three nobody remembers'

# modeling tryouts

In [14]:
results = model.run_logistic_reg_models(songs)

In [15]:
results.head(3)

,model_number,model_type,train_accuracy,validate_accuracy,test_accuracy,better_than_baseline,baseline_accuracy,solver,C
0,baseline,baseline,0.205677,0.20559,0.205763,False,0.20559,NaN,NaN
1,106,LogisticRegression,0.207043,0.20634,0.206439,True,0.20559,liblinear,0.001
2,107,LogisticRegression,0.280373,0.27462,0.278928,True,0.20559,liblinear,0.01

In [16]:
results.sort_values('validate_accuracy', ascending=False).head(3)

,model_number,model_type,train_accuracy,validate_accuracy,test_accuracy,better_than_baseline,baseline_accuracy,solver,C
11,116,LogisticRegression,0.69832,0.457325,0.448897,True,0.20559,lbfgs,1
18,123,LogisticRegression,0.699043,0.457137,0.449797,True,0.20559,newton-cg,1
25,130,LogisticRegression,0.699043,0.457137,0.449797,True,0.20559,sag,1

In [17]:
results2 = model.run_decision_tree_models(songs)

In [18]:
results2.sort_values('validate_accuracy', ascending=False).head(3)

,model_number,model_type,train_accuracy,validate_accuracy,test_accuracy,better_than_baseline,max_depth,baseline_accuracy
6,6,DecisionTreeClassifier,0.411755,0.312324,0.301216,True,10,0.20559
7,7,DecisionTreeClassifier,0.999759,0.300694,0.298514,True,100,0.20559
5,5,DecisionTreeClassifier,0.321058,0.295629,0.296938,True,5,0.20559

In [19]:
results3 = model.run_random_forest_models(songs)

In [20]:
results3.sort_values('validate_accuracy', ascending=False).head(3)

,model_number,model_type,train_accuracy,validate_accuracy,test_accuracy,better_than_baseline,max_depth,min_samples_leaf,criterion,baseline_accuracy
87,94,RandomForest,0.936319,0.404802,0.403872,True,100,2,gini,0.20559
88,95,RandomForest,0.923776,0.399362,0.401846,True,100,2,entropy,0.20559
90,97,RandomForest,0.8215,0.391296,0.402972,True,100,3,entropy,0.20559

# add features
~~Replace Contractions~~

~~Word Count~~

~~Unique words per song~~

~~Unique words per decade~~

~~Ratio verse to chorus~~

~~Number of verses~~

    Length of verses
    Length of chorus
    Sexual Word Count
    Vulgar Word Count

~~Sentiment~~

~~Topic Modeling~~

~~Number of verses~~ 

~~Number of choruses~~ 

~~Ratio of verses to choruses~~

~~Data/Time~~

~~year~~

In [21]:
songs = pd.read_csv('songs_0526.csv', index_col=0)
songs.head(3)

,title,artist,date,lyrics
2,#1,Nelly,2001-10-20,#1 LyricsUh uh uh I just gotta bring it to the...
4,#9 Dream,John Lennon,1974-12-21,#9 Dream Lyrics[Verse 1] So long ago Was it in...
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,..."

In [22]:
# get all words in [] from lyrics
songs['place_words'] = songs.lyrics.apply(lambda x: re.findall(r'\[.*?\]', x))
# make place_words all lowercase
songs['place_words'] = songs.place_words.apply(lambda x: [word.lower() for word in x])
# make place_words a string
songs['place_words'] = songs.place_words.apply(lambda x: ' '.join(x))

In [23]:
songs.place_words

2                                     [hook] [hook] [hook]
4        [verse 1] [pre-chorus 1] [chorus] [verse 2] [p...
5        [intro: mariah carey] [verse 1: miguel] [choru...
6        [verse 1] [drop 1] [verse 2] [drop 2] [verse 3...
7        [instrumental break] [pre-chorus: justin biebe...
                               ...
28304
28305
28306    [verse 1: chad kroeger] [pre-chorus: chad kroe...
28308    [intro: will smith & (sisqo)] [verse 1: will s...
28310
Name: place_words, Length: 23762, dtype: object

In [24]:
# convert from list to string
#songs.place_words = songs.place_words.apply(lambda x: ' '.join(x))

In [25]:
songs.reset_index(inplace=True)
songs.rename(columns={'index': 'old_index'}, inplace=True)

In [26]:
#make one list from column place_words
all_place_words= ''
for i in range(len(songs)):
    all_place_words += songs.place_words[i]
# what are the counts for the common words
#all_place_words
Counter(all_place_words.split()).most_common(25)

[('[verse', 27447),
 ('[chorus]', 21833),
 ('1]', 11316),
 ('2]', 11093),
 ('[chorus:', 8000),
 ('&', 7598),
 ('[bridge]', 5635),
 ('[pre-chorus]', 5020),
 ('3]', 3836),
 ('2:', 3543),
 ('1:', 3541),
 ('[outro][verse', 2688),
 ('[chorus', 2019),
 ('[chorus][verse', 1815),
 ('3:', 1737),
 ('[outro:', 1648),
 ('[pre-chorus:', 1589),
 ('[bridge:', 1481),
 ('lil', 1220),
 ('[post-chorus]', 1192),
 ('[hook]', 1130),
 ('[outro][intro]', 958),
 ('the', 942),
 ('[hook:', 935),
 ('[refrain]', 879)]

In [27]:
# How many times is chorus in place_words?
songs.place_words.str.contains('chorus').sum()

12671

In [28]:
songs.place_words[1]

'[verse 1] [pre-chorus 1] [chorus] [verse 2] [pre-chorus 2] [chorus] [outro]'

In [29]:
test_string = songs.place_words[1] 
# precleaned
#'[verse 1] [pre-chorus 1] [chorus] [verse 2] [pre-chorus 2] [chorus] [outro]'

# how many times is chorus in test_string?
test_string.count('[chorus') # this gets multiple types of chorus without pre-chorus

2

In [30]:
test_string.count('verse')

2

In [31]:
# add column for chorus count
songs['chorus_count'] = songs.place_words.apply(lambda x: x.count('[chorus'))
# add column for verse count
songs['verse_count'] = songs.place_words.apply(lambda x: x.count('verse'))
# add column for ratio of verses to chorus
songs['verse_chorus_ratio'] = songs.verse_count / songs.chorus_count
# add column for pre-chorus count
songs['pre_chorus_count'] = songs.place_words.apply(lambda x: x.count('[pre-chorus'))
# add column for outro count
songs['outro_count'] = songs.place_words.apply(lambda x: x.count('outro'))
# add column for bridge count
songs['bridge_count'] = songs.place_words.apply(lambda x: x.count('bridge'))
# add column for hook count
songs['hook_count'] = songs.place_words.apply(lambda x: x.count('hook'))
# fill NaN in with 0
songs.verse_chorus_ratio.fillna(0, inplace=True)

In [32]:
songs.sample(3)

,old_index,title,artist,date,lyrics,place_words,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count
14506,17093,On To The Next One,Jay-Z + Swizz Beatz,2010-01-30,On To The Next One Lyrics[Intro: Swizz Beatz] ...,[intro: swizz beatz] [verse 1: jay-z] [chorus:...,3,3,1.0,0,0,0,0
17439,20553,Smile,Lonestar,1999-12-18,Smile Lyrics[Verse 1] I still remember the nig...,[verse 1] [chorus] [verse 2] [chorus],2,2,1.0,0,0,0,0
22841,26973,Yessirskiii,Lil Uzi Vert & 21 Savage,2020-03-28,Yessirskiii Lyrics[Intro: 21 Savage & Jamie Fo...,[intro: 21 savage & jamie foxx] [verse 1: 21 s...,2,3,1.5,0,1,0,0

In [33]:
df = prep.clean_df(pd.read_csv('songs_0526.csv', index_col=0))
df.head(3)

,title,artist,date,lyrics,raw_lyrics,decade
2,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000
4,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,#9 Dream Lyrics[Verse 1] So long ago Was it in...,1970
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,...",2010

In [34]:
df = prep.add_features(df)
df.head(3)

,title,artist,date,lyrics,raw_lyrics,decade,character_count,word_count,unique_words,unique_words_count,...,place_words,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count,bigrams,trigrams
2,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000,2014,363,squash heat total mean winner remembers top fa...,228,...,[hook] [hook] [hook],0,0,0.0,0,0,0,3,"[(uh, uh), (uh, uh), (uh, got), (got, bring), ...","[(uh, uh, uh), (uh, uh, got), (uh, got, bring)..."
4,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,#9 Dream Lyrics[Verse 1] So long ago Was it in...,1970,842,135,spirit sound heat dance took street could arou...,49,...,[verse 1] [pre-chorus 1] [chorus] [verse 2] [p...,2,2,1.0,2,1,0,0,"[(long, ago), (ago, dream), (dream, dream), (d...","[(long, ago, dream), (ago, dream, dream), (dre..."
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,...",2010,768,129,jean ohoh as dance light mean lord killing ah ...,54,...,[intro: mariah carey] [verse 1: miguel] [choru...,2,2,1.0,0,1,0,0,"[(ah, ah), (ah, beautiful), (beautiful, ah), (...","[(ah, ah, beautiful), (ah, beautiful, ah), (be..."

In [35]:
def get_ngrams(df):
    """
    get bigrams/trigrams for each song
    """
    # create bigram column
    print("creating bigram column", end="\r")
    df["bigrams"] = df.lyrics.apply(lambda x: list(nltk.ngrams(x.split(), 2)))
    # create bigram column
    print("creating trigram column", end="\r")
    df["trigrams"] = df.lyrics.apply(lambda x: list(nltk.ngrams(x.split(), 3)))
    return df

In [36]:
df = get_ngrams(df)
df.head(3)

,title,artist,date,lyrics,raw_lyrics,decade,character_count,word_count,unique_words,unique_words_count,...,place_words,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count,bigrams,trigrams
2,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000,2014,363,squash heat total mean winner remembers top fa...,228,...,[hook] [hook] [hook],0,0,0.0,0,0,0,3,"[(uh, uh), (uh, uh), (uh, got), (got, bring), ...","[(uh, uh, uh), (uh, uh, got), (uh, got, bring)..."
4,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,#9 Dream Lyrics[Verse 1] So long ago Was it in...,1970,842,135,spirit sound heat dance took street could arou...,49,...,[verse 1] [pre-chorus 1] [chorus] [verse 2] [p...,2,2,1.0,2,1,0,0,"[(long, ago), (ago, dream), (dream, dream), (d...","[(long, ago, dream), (ago, dream, dream), (dre..."
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,...",2010,768,129,jean ohoh as dance light mean lord killing ah ...,54,...,[intro: mariah carey] [verse 1: miguel] [choru...,2,2,1.0,0,1,0,0,"[(ah, ah), (ah, beautiful), (beautiful, ah), (...","[(ah, ah, beautiful), (ah, beautiful, ah), (be..."

In [37]:
def get_unique_words(text):
    """
    Get unique words in text
    """

    # Create a list of words separated by a space
    words = text.split()
    # Create a variable to hold a list of unique words
    unique_words = set(words)
    # Join unique words list with a new string
    new_string = " ".join(unique_words)
    return new_string

In [38]:
df['unique_words'] = df.lyrics.apply(get_unique_words)
df['n_unique_words'] = df.unique_words.apply(lambda x: len(x.split()))
df.head(3)

,title,artist,date,lyrics,raw_lyrics,decade,character_count,word_count,unique_words,unique_words_count,...,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count,bigrams,trigrams,n_unique_words
2,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000,2014,363,squash heat total mean winner remembers top fa...,228,...,0,0,0.0,0,0,0,3,"[(uh, uh), (uh, uh), (uh, got), (got, bring), ...","[(uh, uh, uh), (uh, uh, got), (uh, got, bring)...",228
4,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,#9 Dream Lyrics[Verse 1] So long ago Was it in...,1970,842,135,spirit sound heat dance took street could arou...,49,...,2,2,1.0,2,1,0,0,"[(long, ago), (ago, dream), (dream, dream), (d...","[(long, ago, dream), (ago, dream, dream), (dre...",49
5,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,...",2010,768,129,jean ohoh as dance light mean lord killing ah ...,54,...,2,2,1.0,0,1,0,0,"[(ah, ah), (ah, beautiful), (beautiful, ah), (...","[(ah, ah, beautiful), (ah, beautiful, ah), (be...",54

In [39]:
df= prep.get_data()

In [40]:
pd.set_option('max_columns', 50)
df.head(1)

,title,artist,date,lyrics,raw_lyrics,decade,character_count,word_count,unique_words,unique_words_count,sentiment,sentiment_category,place_words,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count,bigrams,trigrams
0,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000,2014,363,squash heat total mean winner remembers top fa...,228,0.9915,very positive,[hook] [hook] [hook],0,0,0.0,0,0,0,3,"[(uh, uh), (uh, uh), (uh, got), (got, bring), ...","[(uh, uh, uh), (uh, uh, got), (uh, got, bring)..."

In [41]:
def get_common_unique_words(text, threshold=5):
    """
    Get common unique words in dataframe, aka words that occur in multiple readme's
    a word must appear in at least threshold readmes to be considered a common word
    """
    #splitting text into individual words
    words = text.split()
    #using collections to get an ngrams count 
    counter = Counter(words)
    #Create a list with all of the unique words using our default threshold of at least 5
    common_unique_words = [
        word for word, count in counter.items() if count >= threshold
    ]
    #Join the list with a new string
    new_string = " ".join(common_unique_words)
    return new_string

In [42]:
def n_most_common_word(string, n=1):
    """
    Return the nth most common word in a string
    """
    # Create a list of words separated by a space
    words = string.split()
    # Make an if statement that will only show the nth most common word based on the value set for n
    if len(words) < n:
        return ""
    # Use collections to get an ngram count
    word_counts = Counter(words)
    # Return only the most common
    return word_counts.most_common(n)[n - 1][0]

In [43]:
df = prep.get_topics(df)
df.head(3)

,title,artist,date,lyrics,raw_lyrics,decade,character_count,word_count,unique_words,unique_words_count,sentiment,sentiment_category,place_words,chorus_count,verse_count,verse_chorus_ratio,pre_chorus_count,outro_count,bridge_count,hook_count,bigrams,trigrams,topic_name
0,#1,Nelly,2001-10-20,uh uh uh got bring attention dirty better watc...,#1 LyricsUh uh uh I just gotta bring it to the...,2000,2014,363,squash heat total mean winner remembers top fa...,228,0.9915,very positive,[hook] [hook] [hook],0,0,0.0,0,0,0,3,"[(uh, uh), (uh, uh), (uh, got), (got, bring), ...","[(uh, uh, uh), (uh, uh, got), (uh, got, bring)...",sex
1,#9 Dream,John Lennon,1974-12-21,long ago dream dream know yes know seemed real...,#9 Dream Lyrics[Verse 1] So long ago Was it in...,1970,842,135,spirit sound heat dance took street could arou...,49,0.9169,very positive,[verse 1] [pre-chorus 1] [chorus] [verse 2] [p...,2,2,1.0,2,1,0,0,"[(long, ago), (ago, dream), (dream, dream), (d...","[(long, ago, dream), (ago, dream, dream), (dre...",love
2,#Beautiful,Mariah Carey Featuring Miguel,2013-05-25,ah ah beautiful ah ah beautiful hop back bike ...,"#Beautiful Lyrics[Intro: Mariah Carey] Ah, ah,...",2010,768,129,jean ohoh as dance light mean lord killing ah ...,54,0.9989,very positive,[intro: mariah carey] [verse 1: miguel] [choru...,2,2,1.0,0,1,0,0,"[(ah, ah), (ah, beautiful), (beautiful, ah), (...","[(ah, ah, beautiful), (ah, beautiful, ah), (be...",lost

In [44]:
df.topic_name.value_counts()

breakups          4831
lost              3237
affection         2815
sex               1790
nature            1756
love              1735
good vibes        1284
americana         1211
youth             1116
violence          1066
money              672
dance              653
transcendental     550
heartache          339
jealousy           259
holiday            227
spanish            221
Name: topic_name, dtype: int64

In [52]:
# combine all strings in lyrics where decade is the same
decades = (
    df.groupby("decade")["lyrics"].apply(lambda x: " ".join(x)).reset_index()
)
decades.rename(columns={"lyrics": "all_words"}, inplace=True)
decades["unique_words"] = (
    df.groupby("decade")["unique_words"].apply(lambda x: " ".join(x)).values
)
decades["common_unique_words"] = decades.unique_words.apply(get_common_unique_words)
decades["n_words"] = decades["all_words"].apply(lambda x: len(x.split()))
decades["unique_word_count"] = decades["all_words"].apply(
    lambda x: len(set(x.split()))
)
decades["mean_word_count"] = (
    df.groupby("decade")["word_count"].mean().values.round(1)
)
decades["median_word_count"] = (
    df.groupby("decade")["word_count"].median().values.round(1)
)
decades["most_common_word"] = decades["unique_words"].apply(
    lambda x: n_most_common_word(x)
)
decades["2nd_most_common_word"] = decades["unique_words"].apply(
    lambda x: n_most_common_word(x, 2)
)
decades["3rd_most_common_word"] = decades["unique_words"].apply(
    lambda x: n_most_common_word(x, 3)
)
decades["4th_most_common_word"] = decades["unique_words"].apply(
    lambda x: n_most_common_word(x, 4)
)
decades["5th_most_common_word"] = decades["unique_words"].apply(
    lambda x: n_most_common_word(x, 5)
)

In [53]:
decades.head(10)

,decade,all_words,unique_words,common_unique_words,n_words,unique_word_count,mean_word_count,median_word_count,most_common_word,2nd_most_common_word,3rd_most_common_word,4th_most_common_word,5th_most_common_word
0,1950,never felt like kissed ya exist kissed ya neve...,exist missed knew could without live time mind...,missed knew could without live time mind life ...,43809,4697,84.7,72.0,love,know,heart,come,oh
1,1960,till moon desert sky till sea run dry till wor...,moon dry live world turn sea tropic reason ups...,moon dry live world turn sea tropic reason riv...,414717,14120,90.8,85.0,love,know,oh,got,go
2,1970,long ago dream dream know yes know seemed real...,spirit sound heat dance took street could arou...,spirit sound heat dance took street could arou...,457047,14059,113.9,105.0,love,know,got,oh,like
3,1980,car hop bebop sang wop diddy wop diddy wop doo...,well clear said bebop could pompoms ooh hear t...,well clear said bebop could ooh hear team time...,451583,13486,125.2,117.0,know,love,time,got,like
4,1990,love gave heart best keep satisfied took love ...,best stronger took said talk clear cruel could...,best stronger took said talk clear cruel could...,492327,19391,172.4,144.0,know,love,like,want,time
5,2000,uh uh uh got bring attention dirty better watc...,squash heat total mean winner remembers top fa...,heat total mean winner remembers top fame uh s...,616267,21487,194.4,162.5,know,like,got,want,get
6,2010,ah ah beautiful ah ah beautiful hop back bike ...,jean ohoh as dance light mean lord killing ah ...,jean ohoh as dance light mean lord killing ah ...,819659,26068,205.0,184.0,like,know,got,get,want
7,2020,tell old man largemouth fishin another time go...,day girl chance forever phone get largemouth h...,day girl chance forever phone get heart back w...,235861,14865,227.9,211.0,like,got,know,get,yeah

In [46]:
decades.decade.unique()

array([1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020])

In [47]:
# #add columns to decades dataframe for topic name counts
# for topic in df.topic_name.unique():
#     decades[f'{topic}_count'] = decades.decade.apply(lambda x: df[(df.decade == x) & (df.topic_name == topic)].shape[0])
#     decades[f'{topic}_percent'] = decades.decade.apply(lambda x: df[(df.decade == x) & (df.topic_name == topic)].shape[0]/df[df.decade == x].shape[0] *100)#

In [49]:
# # make a list of all the columns that have percent in the name
# percent_cols = [col for col in decades.columns if "percent" in col]
# decades_percent = decades[percent_cols]
# decades_percent.head(2)

,sex_percent,love_percent,lost_percent,violence_percent,affection_percent,nature_percent,breakups_percent,youth_percent,dance_percent,heartache_percent,money_percent,americana_percent,transcendental_percent,good vibes_percent,holiday_percent,spanish_percent,jealousy_percent
0,0.967118,5.609284,17.408124,0.193424,21.276596,8.123791,16.054159,9.090909,1.934236,1.740812,1.740812,8.123791,2.321083,1.740812,1.547389,0.967118,1.160542
1,0.547285,5.166375,15.542907,0.547285,18.104203,8.822242,22.876532,5.845009,2.736427,2.123468,1.335377,5.494746,3.546410,4.443958,1.444834,0.262697,1.160245